html {
  background: black;
}
body {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
  background: $background-color;
  color: $text-color;
  @media (max-width: 900px) { 
    width: 90%;
  }
  @media (max-width: 600px) { 
    width: 100%;
  }
  head {
    image {
      width: 100%;
      height: auto;
    }
  }
  
  ul {
    padding: 0 $spacing-unit / 2;
    margin: 1em $spacing-unit / 2;
    overflow: hidden;
    li {
      list-style: none;
      padding: 0 $spacing-unit / 2;
      margin: 0 0 .5 * $base-line-height;
      position: relative;
      float: left;
      width: 50%;
      @media (max-width: 600px) { 
        float: none;
        width: 100%;
      }
      &:before {
        content: "•";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  
  .columns {
    overflow: hidden;
  }
  .col {
    float: left;
    width: 50%;
    @media (max-width: 600px) { 
      float: none;
      width: 100%;
    }
    
    ul li {
      float: none;
      width: 100%;
    }
  }
  
  #lightgallery {
    padding: 0 $spacing-unit / 2;
    &:after {
      content: "";
      clear: both;
      display: table;
    }
    a {
      float: left;
      width: 50%;
      height: 300px;
      overflow: hidden;
      padding: 0 $spacing-unit / 2;
      margin: $spacing-unit /2  0;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      
      @media (max-width: 900px) { 
        height: 200px;
      }
      @media (max-width: 600px) { 
        width: 100%;
        height: auto;
      }
    }
  }
  
}