<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <head>
      <img src="/img/16HenchmanApartmentPano.jpg" >
    </head>
    
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        
        <a name="photos" ></a>
        <h2>Photos</h2>
        <div id="lightgallery">
          {% for i in (2..24) %}
            {% if i != 14 and i != 19 %}
              <a href="/img/16HenchmanApartment - {{ i }}.jpg" title="{{ site.captions[i] }}">
                <img src="/img/16HenchmanApartment - {{ i }}.jpg" />
              </a>
              
            {% endif %}
          {% endfor %}
        </div>
        
        <p class='intro'>
          Interested? Send us a note at <script type="text/javascript">writeEmailLink('mekelhammer', 'gmail')</script>
        </p>
        
      </div>
    </div>

    <footer class="site-footer">
        <br/>
        <br/>
    </footer>
    

  </body>



</html>
